@import "compass"

.navigation
  background: rgba(255, 255, 255, 0.8)
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  overflow: hidden
  .navigation-menu
    padding: 0
    width: 800px
    margin: 0 auto
    .item
      @include inline-block()
      &.actived a
        border-bottom: 1px solid #cb6898
      a
        display: block
        padding: 21px 10px 19px
        margin: 0 8px
        color: rgba(0, 0, 0, 0.5)
        &:hover
          color: #cb6898
    .item .logo-wrapper
      &:hover
        opacity: 1
      opacity: .8
      position: relative
      width: 70px
      height: 57px
      padding: 0
      margin: 0
      background: image-url("logo.jpg") no-repeat
      background-position: 0px 10px
      background-size: 50px 50px

@mixin respond-to($media)
  @if $media == phones
    @media only screen and (max-width: 40em)
      @content
body
  @include respond-to(phones)
    margin: 0 16px

.content
  max-width: 1200px
  margin: 0 auto
  line-height: 2
  font-size: 18px
  color: rgba(0,0,0,0.8)
  a, a:hover, a:visited
    color: #cb4531
    border-bottom: 1px solid #cb4531
    text-decoration: none
    margin: 0 3px
    padding-bottom: 2px
  h1
    font-size: 32px
    text-align: center
    margin-bottom: 30px
  figcaption
    text-align: center
    font-size: 14px
    margin-top: 10px
  figure, img
    max-width: 100%
    height: auto
  ul, ol
    list-style-position: inside
  h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote
    padding: .60em 0
    width: 50%
    margin: 0 auto
    @include respond-to(phones)
      width: 100%
  blockquote
    padding: 0 1em
    box-sizing: border-box
    border-left: 3px solid #eee
    p
      width: auto
  .align-center
    text-align: center
  .align-center
    img
      @include respond-to(phones)
        width: 100%
    figure
      @include respond-to(phones)
        margin: 0
  .align-left
  .align-right
    @include respond-to(phones)
      float: auto
      width: 100%
  .align-left
    float: left
  .align-right
    float: right
    max-width: 60%
